<?xml version='1.0' encoding='utf-8'?>
<widget id="be.studentenliederboek.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Studentenliederboek</name>
    <description>
        Eenvoudige partituren van studentenliederen.
    </description>
    <author email="vicmortelmans@gmail.com" href="https://www.studentenliederboek.be">
        Studentenliederboek
    </author>
    <platform name="android"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="fullscreen" value="false"/>
    <preference name="target-device" value="universal" />
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-minSdkVersion" value="7"/>
    <preference name="android-install Location" value="auto"/>
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
         <!--  Portrait  -->
        <splash qualifier="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
        <splash qualifier="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
        <splash qualifier="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
        <splash qualifier="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
        <splash qualifier="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
        <splash qualifier="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
         <!--  Landscape  -->
        <splash qualifier="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
        <splash qualifier="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
        <splash qualifier="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
        <splash qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
        <splash qualifier="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png"/>
        <splash qualifier="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png"/>
    </platform>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <!--allow-navigation href="*" /-->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <access origin="*"/>
</widget>
