<?xml version='1.0' encoding='utf-8'?>
<widget id="be.studentenliederboek.app" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Studentenliederboek</name>
    <description>
        Eenvoudige partituren van studentenliederen.
    </description>
    <author email="vicmortelmans@gmail.com" href="https://www.studentenliederboek.be">
        Studentenliederboek
    </author>
    <platform name="android"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="fullscreen" value="false"/>
    <preference name="target-device" value="universal" />
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-targetSdkVersion" value="26"/>
    <preference name="android-install Location" value="auto"/>
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
    </platform>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <!--allow-navigation href="*" /-->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <access origin="*"/>
</widget>
